<!-- staff_date_work.html -->

{% extends 'template_base.html' %}

{% block title %}スタッフ勤務情報設定{% endblock %}

{% block contents %}

<script>
    function toggleFieldsByWorkStatus() {
        const workStatusField = document.getElementById('id_work_status');
        const isOn = workStatusField.value == '0';
        const targetFields = document.querySelectorAll('.work-fields');

        targetFields.forEach(field => {
            field.style.display = isOn ? 'block' : 'none';
            const inputs = field.querySelectorAll('input, select');
            inputs.forEach(input => {
                input.disabled = !isOn;
            });
        });
    }

    function toggleFieldsByLunch() {
        const lunch = document.getElementById('id_lunch');
        const eatLunch = (lunch.value == '0' || lunch.value == '1');

        const targetFields = document.querySelectorAll('.eat-lunch-at');       

        targetFields.forEach(field => {
            field.style.display = eatLunch ? 'inline-block' : 'none';
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        toggleFieldsByWorkStatus();
        toggleFieldsByLunch();

        document.getElementById('id_work_status').addEventListener('change', toggleFieldsByWorkStatus);
        document.getElementById('id_lunch').addEventListener('change', toggleFieldsByLunch);
        document.getElementById('id_lunch').addEventListener('change', toggleFieldsByLunch);        
    });
</script>

<h1>スタッフ勤務情報設定</h1>

<h2>スタッフ名: {{ staff_name }}</h2>
<form action="{% url 'config_work_update_staff' staff_id=staff_id work_date=work_date%}" method="post">
    {% csrf_token %}

    <p>日付: {{ work_date }}</p>

    
    <p>出勤/欠勤:{{ form.work_status }}</p>
    

    <div class="work-fields">
        <label for="{{ form.lunch.id_for_label }}">お弁当</label>
        {{ form.lunch }}
    </div>

    <div class="work-fields">
        <div>
            勤務１
            {{ form.work1_start_time }}
            ～
            {{ form.work1_end_time }}
            {{ form.work1_place }}
            {% if form.work1_place.errors %}
            <div class="text-danger">
                {% for error in form.work1_place.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="1" {% if form.instance.eat_lunch_at == 1 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
        <div>
            勤務２
            {{ form.work2_start_time }}
            ～
            {{ form.work2_end_time }}
            {{ form.work2_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="2" {% if form.instance.eat_lunch_at == 2 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
        <div> 
            勤務３
            {{ form.work3_start_time }}
            ～
            {{ form.work3_end_time }}
            {{ form.work3_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="3" {% if form.instance.eat_lunch_at == 3 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
        <div>
            勤務４
            {{ form.work4_start_time }}
            ～
            {{ form.work4_end_time }}
            {{ form.work4_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="4" {% if form.instance.eat_lunch_at == 4 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
    </div>

    <button class="btn-sm" type="submit" name="action" value="save">保存</button>
    <button class="btn-sm" type="submit" name="action" value="pattern" >パターンを呼び出す</button>
    <button class="btn-sm" type="submit" name="action" value="cancel">キャンセル</button>
</form>
{% endblock %}