<!-- staff_pattern.html -->
{% extends 'template_base.html' %}

{% block title %}スタッフ情報設定{% endblock %}

{% block contents %}

<script>
    function toggleFieldsByLunch() {
        const lunchField = document.getElementById('id_lunch');
        const eatLunch = lunchField.value == '0' || lunchField.value == '1';
        const targetFields = document.querySelectorAll('.eat-lunch-at');       

        targetFields.forEach(field => {
            field.style.display = eatLunch ? 'inline-block' : 'none';
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
        toggleFieldsByLunch();

        document.getElementById('id_lunch').addEventListener('change', toggleFieldsByLunch);
    });
</script>

<h1>スタッフ情報設定</h1>

<form action="{% url 'config_staff_save' staff_id=staff_id %}" method="post">
    {% csrf_token %}

    <div>
        <label for="{{ form.name.id_for_label }}">スタッフ名</label>
        {{ form.name }}
    </div>

    <h2>勤務パターン</h2>

    <div class="mt-3 mb-3">
        <label for="{{ form.work_status_mon.id_for_label }}">月</label>
        {{ form.work_status_mon }}
        <label for="{{ form.work_status_tue.id_for_label }}">火</label>
        {{ form.work_status_tue }}
        <label for="{{ form.work_status_wed.id_for_label }}">水</label>
        {{ form.work_status_wed }}
        <label for="{{ form.work_status_thu.id_for_label }}">木</label>
        {{ form.work_status_thu }}
        <label for="{{ form.work_status_fri.id_for_label }}">金</label>
        {{ form.work_status_fri }}
        <label for="{{ form.work_status_sat.id_for_label }}">土</label>
        {{ form.work_status_sat }}
        <label for="{{ form.work_status_sun.id_for_label }}">日</label>
        {{ form.work_status_sun }}
    </div>

    <div class="mt-3 mb-3">
        <label for="{{ form.lunch.id_for_label }}">お弁当</label>
        {{ form.lunch }}
    </div>

    <div class="work-fields mt-3 mb-3">
        <div>
            勤務１
            {{ form.work1_start_time }}
            ～
            {{ form.work1_end_time }}
            {{ form.work1_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="1" {% if form.instance.eat_lunch_at == 1 %}checked{% endif %}>
                昼食をここで食べる                
            </label>
        </div>
        <div>
            勤務２
            {{ form.work2_start_time }}
            ～
            {{ form.work2_end_time }}
            {{ form.work2_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="2" {% if form.instance.eat_lunch_at == 2 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
        <div>
            勤務３
            {{ form.work3_start_time }}
            ～
            {{ form.work3_end_time }}
            {{ form.work3_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="3" {% if form.instance.eat_lunch_at == 3 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
        <div>
            勤務４
            {{ form.work4_start_time }}
            ～
            {{ form.work4_end_time }}
            {{ form.work4_place }}
            <label class="eat-lunch-at">
                <input type="radio" name="eat_lunch_at" value="4" {% if form.instance.eat_lunch_at == 4 %}checked{% endif %}>
                昼食をここで食べる
            </label>
        </div>
    </div>

    <button class="btn-sm" type="submit">保存</button>
    <button class="btn-sm" type="button" onclick="history.back();">キャンセル</button>
</form>
{% endblock %}