<!-- staff.html -->

{% extends 'template_base.html' %}

{% block title %}スタッフ情報{% endblock %}

{% block contents %}

<h1>スタッフ情報</h1>

<form action="{% url 'config_staff_dispatch' %}" method="post">
    {% csrf_token %}

    <button class="mt-3 mb-3" type="submit" name="create" value="0">新規登録</button>

    <table class="table table-bordered">
        <thead class="table-header">
            <tr>
                <th>並び替え</th>
                <th>名前</th>
                <th>設定</th>
            </tr>
        </thead>

        <tbody>
            {% for staff in staffs %}

            <tr>
                <td>
                    <button type="submit" name="up" value="{{ staff.pk }}">↑</button>
                    <button type="submit" name="down" value="{{ staff.pk }}">↓</button>
                </td>

                <td>
                    {{ staff.name }}
                </td>
                <td>
                    <button type="submit" name="update" value="{{ staff.pk }}">編集</button>

                    <button type="submit" name="delete" value="{{ staff.pk }}"
                        onclick="return confirm('削除しますか？');">削除</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</form>
{% endblock %}