<div class="container">
  <header>

    <nav class="navbar navbar-custom navbar-expand-sm navbar-light mt-3 mb-3">
      <div class="container">

        <!-- ナビゲーションメニュー -->
        <div class="collapse navbar-collapse align-items-center" id="navbarNavAltMarkup">
          <ul class="navbar-nav d-flex w-100 justify-content-start">
            {% if request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="{% url 'info_today' %}">ホーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="{% url 'customer' %}">利用者情報</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-custom" href="{% url 'staff' %}">スタッフ情報</a>
            </li>
            {% else %}
            <li class="nav-item">
              <p style="color:white;">SEVENTH FACTORY</p>
            </li>            
            {% endif %}
            <li class="nav-item ms-auto">
              <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="nav-link nav-link-custom">
                ログアウト
              </a>

              <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                  {% csrf_token %}
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>